<!-- HTML -->
<div class="modal-overlay" ></div>

<div class="modal-container" >
  <div class="modal-content">
    <h2>Add New Task</h2>


    <i class="fas fa-times" (click)="closeModal()"></i>
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Task Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>

      <div class="form-group">
        <label for="status">Status:</label>
        <select class="form-control" id="status" formControlName="status">
          <option value="pending">Pending</option>
          <option value="started">Started</option>
          <option value="in-progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!addTaskForm.valid">Add Task</button>
    </form>
  </div>
</div>
